{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'paragraph',
'paragraph--webform',
] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
{% endblock paragraph %}
